body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
}
main {
	padding:0px 50px;
}
header {
	padding: 15px 50px;
	background-color: #3e363c;
}
header a {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
}

header a:hover {
	color: #3e363c;
	background-color: white;
}

h1 {
	text-align: center;
}
h2 {	
	margin: 10px;
}
footer {
	background-color: #3e363c;
	padding: 10px 50px;
	font-size: 12px;
}
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
}

footer a, footer p {
	color: white;
}
